input[type=button], button{
    margin: 0px ;
    width: 100%;
    
    border-style: solid;
    border-width: 1px;
}

.main-view-element {
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 0px;
    opacity: 100%;
}

.prButton{
    visibility: hidden;
    width: 100%;
    height: 20%;
}

*{
    padding: 0px;
    margin: 0px;
    overflow: clip;
}

#songParms{
    width:100%;
    height: 100%;
    position: relative;
}
.song-parm{
    margin-top: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

#canvases{
    position: relative;
    width: 100%;
    height: 100%;
}

canvas, pointer-handler{
    position:absolute;
    height: 100%;
    width: 100%;
}

svg{
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    fill:none;
    stroke:black;
    stroke-width:1;
    stroke-linejoin:round;
}

